@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'press start 2P', cursive;
    user-select: none;
}

header{
    margin: 0 auto;
    width: 431px;
}
h1 {
    background: 
    url("media/Image29.png") 0% 720px;
    padding: 1.2rem 0;
    margin: 0;
    color:hsl(256, 85%, 44%)
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: rgb(94, 142, 206);
}









